body{
    background-color: #8f949c;
    font-family: 'calibri';
    padding: 0px;
    margin: 0px;
}

/* Toolbar*/
ul{
    /*Get rid of bullet points*/
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li{
    display: inline;
    float: left;
    font-family: 'Calibri';
    font-size: medium;
}

a{
    display: block;
    padding: 8px;
    background-color: lightgray;
    border: 2px solid black;
}

/*Images*/
img{
    min-width: 100px;
    min-height: 100px;
    max-width: 500px;
    max-height: 500px;
    border-radius:2%
}

/*Page Headings*/
h1{
    padding: 30px;
    text-align: center;
    font-family: 'Calibri';
    color: white;
    text-shadow: 2px 2px black;
    background: #4339ad;
    border: 3px solid white;
    font-size: 30px;
}

h3{
    font-family: 'Calibri';
    font-size: 15px;
}

#caption a, .caption a{
    font-size: xx-small;
    font-style: italic;
    margin: auto;
    width: 50%;
    text-align:center;
    font-style: italic;
}

a:hover{
    color:white;
}


/*Pargraphs (text body)*/
p{
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    text-align:center;
    background-color: lightgray;
    box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.3);
}

/*Media class (images and photos)*/
.media{
    margin: auto;
    width: 50%;
    text-align:center;
    font-style: italic;
}

.References{
    text-align: center;
    background-color: lightgray;
    border: 3px solid black;
}

.References p{
    border: none;
    box-shadow: none;
    font-size: xx-small;
    font-family: 'Times New Roman';
}